/* --------------- 自定义element UI的样式 --------------- */

// 数字框
.el-input-number {
  .el-input__inner {
    text-align: left !important;
  }
}

// 面包屑
.el-breadcrumb {
  position: sticky;
  top: 60px;
  background-color: #fffefc;
  z-index: 1;
  padding: 15px 0;

  .el-breadcrumb__inner a,
  .el-breadcrumb__inner.is-link {
    font-weight: normal;
    color: #606266;

    &:hover {
      color: #19aa8d !important;
    }
  }
}

// 时间选择器、下拉菜单
.el-input-number,
.el-cascader,
.el-date-editor.el-input,
.el-date-editor.el-input__inner,
.el-date-editor--daterange.el-input__inner,
.el-select {
  width: 100% !important;
}

// 弹出层
.el-dialog {
  .el-dialog__body {
    max-height: 65vh;
    overflow-y: auto;
  }
}

.el-tooltip__popper {
  font-size: 14px;
  max-width: 400px;
}

.el-button-group > .el-dropdown > .el-button {
  border-left-color: #dcdfe6 !important;
}

.el-divider--horizontal {
  margin-top: 18px !important;
  margin-bottom: 12px !important;
}
