a {
  color: #606266;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

body{
  margin: 0;
  padding: 0;
}

/* --------------- 滚动条整体样式 --------------- */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* --------------- 滚动条里面的滚动块样式 --------------- */
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d4d4df;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

/* --------------- 滚动条里面轨道 --------------- */
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  background: #f8f8f8;
  border-radius: 10px;
}

/* --------------- 表格配置容器 --------------- */
.table-handle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .el-dropdown {
    border-left: 1px solid #dcdfe6;
  }
}

.filters {
  // .el-col:nth-child(n + 7) {
  //   margin-top: 10px;
  // }
  .el-col:last-child {
    margin-top: 1rem;
  }
}

.text-primary {
  color: #19aa8d;
}
